body {
  color: #06140d;
  background-color: #eee;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

main {
  width: 960px;
  margin: 0 auto;
}

h1 {
  color: #2f5a94;
  font-size: 2.5em;
  font-variant: small-caps;
  font-weight: bold;
  margin: 30px 0;
  text-align: center;
}

#start_button {
  display: block;
  background-color: #2f5a94;
  border: none;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  font-size: 3em;
  height: 160px;
  line-height: normal;
  margin: 0 auto 30px;
  text-align: center;
  text-transform: uppercase;
  width: 320px;
}

section div:hover {
  background-color: #28b6c3;
}

p {
  padding-bottom: 30px;
  line-height: 24px;
}

#display_images {
  display: none;
}

li {
  float: left;
  margin-right: 30px;
  margin-bottom: 15px;
}

li:last-child {
  margin-right: 0px;
}

img {
  width: 300px;
  height: 300px;
}

#results {
  background: #39b876;
  border: none;
  border-radius: 8px;
  clear: both;
  color: #ffffff;
  display: none;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
}

#results:hover {
  background: #28b6c3;
  text-decoration: none;
}

canvas {
  display: none;
  border: 1px solid #2f5a94;
  margin-top: 15px;
}
